.Login {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;

  .username,
  .password,
  .name {
    width: 300px;
    margin: 20px auto;
  }  

  .login {
    margin-top: 50px;
  }
}

